html{scroll-behavior: smooth;}

body{font-family: 'Times New Roman', Times, serif;}

#registerbtn{background-color:#008C8C !important;}

.inner-addon{position: relative;}

.fa{position:absolute;}

.left-addon .fa{padding-top: 15px;font-size: 35px;padding-left: 8px;color:#008C8C;opacity:0.7 !important }

.inner-addon input{margin-top: 10px;margin-right: 10px;width:90%;}

.authinput{font-size: 18px !important;padding-left: 50px !important;width:90% !important;height:60px !important;border-top-right-radius: 20px !important;border-bottom-right-radius: 20px !important;border:1px solid #ddd !important;}

.authform{margin-left:200px;}

.authbutton{border-radius: 20px !important;font-size: 20px !important;background-color:#008C8C !important;color:#ffffff !important;font-weight: bold;}

