html{scroll-behavior: smooth;}

body{font-family: 'Times New Roman', Times, serif;}

#registerbtn{background-color:#008C8C !important;}

.inner-addon{position: relative;}

.fa{position:absolute;}

.left-addon .fa{padding-top: 15px;font-size: 40px;padding-left: 8px;}

.right-addon .fa{right:20px;padding:20px 10px 10px 10px;}

.inner-addon input{margin-top: 10px;margin-right: 10px;width:90%;}

.authinput{font-size: 20px !important;padding-left: 50px !important;width:70% !important;height:70px !important;border-top-right-radius: 20px !important;border-bottom-right-radius: 20px !important;border:1px solid black !important;}

.authform{margin-left:200px;}

.authbutton{border-radius: 20px !important;font-size: 20px !important;background-color:#008C8C !important;color:#ffffff !important;font-weight: bold;}

