<div class="news-card shadow rounded px-3 py-4">
    <p class="text-muted pb-2 text-sm">1 month ago</p>
    <h1 class="fw-bold fs-4 pb-2">
        Lorem ipsum dolem
    </h1>
    <p class="description text-muted text-sm pb-3">
        Here are 11 things I wish I knew when I started my business. I hope they will save you
        some time
        and some anguish because (experience is a good teacher here) the sodium from your tears
        acts as
        a corrosive melting agent...
    </p>
    <div class="text-end">
        <a href="#" class="fw-bold">Read more</a>
    </div>
</div>