{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
<div class="bg-image"></div>
<div class="bg-text mt-4">
  <h2 style="font-size: 3em; text-decoration: underline;" class="text-white fw-bold">ABOUT US.</h2>
  <p style="font-size: 25px;">Welcome to eCampus and here's what you
    need to know before you start.</p>
  <h3 style=" color:#8ecae6;">Our Vision</h3>
  <p style="color: #94d2bd;">We hope that all students on campus will have access to the important<br> news and
    notices
    from the administration without having the notice board. <br>Having no paper used which in
    turn saves the planet.</p>
  <h3 style=" color:#8ecae6;">Our Mission</h3>
  <p style="color: #94d2bd;">That we are able to make school news and announcements<br> available at the student's
    convenience. Whenever they need to<br> catch up on the school's happenings, the app is readily available.</p>
</div>

{% endblock %}

