{% extends 'base.html' %}

<div class= "container">
  <div class= "row">
    <div class= "about">
      <h3> About us.</h3>
      <div class="row">
        <section class="vision">
          <h4>Our Vision</h4>
          <p>We hope that all students on campus will have access to the important news and notices 
            from the administration without having the notice board. Having no paper used which in 
            turn saves the planet.
          </p>
          <h4> Our Mission</h4>
          <p>That we are able to make school news and announcements available at the student's 
            convenience. Whenever they need to catch up on the school's happenings, the app is readily available.
          </p>
        </section>       
      </div>      
    </div>    
  </div>
</div>