{% extends "base.html" %}

{% block content %}
<!-- body content here -->
<section class="body py-5 px-2 px-lg-3">

    <div class="row">
        <div class="col-md-8">
            <p class="text-muted mb-3">1 month ago</p>
            <h1 class="fs-4 fw-bold pb-3">Lorem ipsum dolem</h1>
            <div class="row">
                <p class="text-muted">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis laudantium, consectetur minus
                    accusamus ratione, assumenda natus explicabo eligendi vel provident deserunt doloremque odit? Nulla
                    doloremque, pariatur officiis quis a earum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aut, amet mollitia commodi quia architecto sunt dignissimos, molestias eligendi quisquam officiis
                    eum laudantium explicabo accusantium facilis tempora quod saepe nihil dolores?
                </p>
            </div>
        </div>
        <div class="col-md-4" style="display: unset;">
            {% if current_user and  current_user.is_authenticated %}
                <h2 class="text-center text-white">Post your comment</h2>
                <form action="{{url_for('main.save_comment', id=blog.id)}}" method="POST" class="pt-4">
                    {{commentForm.csrf_token}}
                    <textarea name="comment" class="form-control bg-transparent border-white text-white"
                        rows="4"></textarea>
                    <div class="pt-4 text-center">
                        <button class="btn border-white px-4 text-white">
                            <span class="px-3">Post</span>
                        </button>
                    </div>
                </form>
                {% else %}
                <div class="text-center">
                    <p class="text-center mb-4">Login to post your comment</p>

                    <a href="{{url_for('main.index')}}" class="btn-primary text-white px-4 py-2"><span class="px-2">Login</span></a>
                </div>
                {% endif %}
        </div>
    </div>

    <div class="py-5">
        <div class="row">
            <div class="col-md-7 order-2 order-md-2">
                <h2 class="text-white">
                    Comments
                </h2>
                <p class="pt-3 text-muted">No comments yet</p>
            </div>
        </div>
    </div>
</section>
<!-- end content here -->
{% endblock %}